<!DOCTYPE html>
<html>
    <head>Raamtatukogu</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </head>
    <body>
        <div>
            Quick links:
	        
	        <a href="#" target="_blank">Link 1</a>
	        <a href="#" target="_blank">Link 2</a>
        </div>
        <hr align="left" width="660">
        {% block content %}{% endblock %}
    </body>
</html>
{% block scripts %}
    <script>
    
    </script>
{% endblock %}
