<!DOCTYPE html>
<html>
    <head>
    <!-- Latest compiled and minified CSS -->
    <title>Library</title>   		
    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    	<script type="text/javascript"  src="static\jquery.twbsPagination.js"></script>
        
        
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">   

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/balloon-css/0.5.0/balloon.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    
    	<style>
				#dragndrop_area{
				    border: 1px dashed #CCC;
				    width:600px;
				    font-family:Verdana;
				}
				#fileList{
				   height:50px;
				   line-height: 15px;
				}
                div.search input[type=text] {
                    padding: 10px;
                    font-size: 17px;
                    border: 1px solid grey;
                    float: left;
                    width: 90%;
                    background: #f1f1f1;
                }

                div.search button {
                    float: left;
                    width: 10%;
                    padding: 10px;
                    background: #2196F3;
                    color: white;
                    font-size: 17px;
                    border: 1px solid grey;
                    border-left: none;
                    cursor: pointer;
                }

                div.search button:hover {
                    background: #0b7dda;
                }

                div.search::after {
                    content: "";
                    clear: both;
                    display: table;
                }
				</style>
    
    </head>
    <body>
    		<div class="jumbotron text-center">
    		<h1>Library</h1>
    		</div>
        <div>
            Quick links:
	        
	        <a href="#" target="_blank">Link 1</a>
	        <a href="#" target="_blank">Link 2</a>
					{% with messages = get_flashed_messages() %}
						{% if messages %}
							<ul>
								{% for message in messages %}
									<li>{{ message }}</li>
								{% endfor %}
							</ul>
						{% endif %}
					{% endwith %}						
        </div>
        <hr align="left">
				<form action="/add" method="get" id="add_books" name="add">
					<h2>Add Book</h2>	
					<table class="table">
					
					<tr>
						<td>
							<b>Author:</b>
						</td>
						<td>
							<input type="text" name="author" id="author" size="100"/>
						</td>
						</tr>
					<tr>
					<td>
							<b>Title:</b>
						</td>
						<td>
							<input type="text" name="title" id="title" size="100"/>
						</td>
						</tr>
					<tr>
					<td>
							<b>ISBN:</b>
						</td>
						<td>
							<input type="text" name="isbn" id="isbn" maxlength="13" size="13"/>
						</td>
						</tr>
					<tr>
					<td>
							<b>Publish date:</b>
						</td>	
						<td>
							<input type="text" name="publish_date" id="publish_date" maxlength="4" size="4"/>
						</td>				
					</tr>
					
				</table>
					<table border="0" id="dragndrop_area">
					<tr>
						<input type="file" class="form-control-file" id="choose_file" multiple>
					</tr>								
					<tr valign="bottom" halign="left">							
							<td>Drop files here</td>
					</tr>					
					<tr>
				    <td><ul id="fileList"></ul></td>
				  </tr>
				</table>
				  <button type="button" name="submit" id="submit" class="btn btn-warning btn-lg btn-block">Add book(s)</button>
                  <button type="button" name="lend" id="lend_books" class="btn btn-success btn-lg btn-block">Lend book(s)</button></b>
                  <button type="button" name="return" id="return_books" class="btn btn-info btn-lg btn-block">Return book(s)</button></b>
                  <button type="button" name="delete" id="delete_books" class="btn btn-danger btn-lg btn-block">Delete book(s)</button></b>
				</form>         
        <hr align="left">
        {% block content %}{% endblock %}
        
    </body>
</html>
{% block scripts %}
    <script>
    var files = []; /* one upload of files */
    var books = [];
    var pages = {{pages}};
    var cur_page = 1;
    
    if(pages <= 5){
        var visible_pages = pages
    }
    else{
        var visible_pages = 5
    };
    
    $(document).ready(function(){
        $('#author').prop('value',''); 
        $('#title').prop('value','');
        $('#isbn').prop('value','');
        $('#publish_date').prop('value','');
        $('#pagination').twbsPagination({
            totalPages: pages,
            visiblePages: visible_pages,
            hideOnlyOnePage: true,
            
            onPageClick: function (event, page) {
                $('#page-content').text('Page ' + page);
                $.ajax({
                    type: 'GET',
                    contentType: 'application/json',
                    data: {'page':page, 'search_string':$('#search_string').prop('value')},
                    DataType: 'json',
                    url: 'data',
                    success: function(result){
                        pages  = result['paginator']['pages']
                        totalPages = pages;
                        console.log(pages);
                        display_results(result['data']);                          
                }});
            }
        });
        $('#search_books').click(function(){
            $.ajax({
                type: 'GET',
                contentType: 'application/json',
                data: {'search_string':$('#search_string').prop('value')},
                dataType: 'json',
                url: 'data',
                success: function(result){   
                    console.log("Searching\n",result);
                    pages  = result['paginator']['pages'];
                    console.log(pages);
                    display_results(result['data']);   
                
            }});
        });
        $('#submit').click(function(){ 
            if($('#author').prop('value') && $('#title').prop('value') && $('#isbn').prop('value') && $('#publish_date').prop('value')){
                var JSobj = {'author':$('#author').prop('value').trim(), 
                            'title':$('#title').prop('value').trim(),
                            'isbn':$('#isbn').prop('value').trim(),
                            'publish_date':$('#publish_date').prop('value').trim()};
                books.push(JSobj);
                $('#author').prop('value',''); 
                $('#title').prop('value','');
                $('#isbn').prop('value','');
                $('#publish_date').prop('value','');
            };
            if (books) {
                var myJSON = JSON.stringify(books);
                console.log(books);
            }
            else{
                return;
            }
            $.ajax({
                type: 'POST',
                contentType: 'application/json',
                data: myJSON,
                dataType: 'json',
                url: 'add',
                success: function(result){
                    console.log(result['data']);
                    //display_results(result['data']);   
                    $('#fileList').empty(); 
            }});
        });
        $(':checkbox').change(function(){
            if($(this).prop('checked') == "true"){
                if($(this).prop('id').slice(0, 4) == "lend"){
                    $(this).prop('style', 'background: green')
                }
                else if($(this).prop('id').slice(0, 6) == "change"){
                    $(this).prop('style', 'background: red')
                }
                else{
                    $(this).prop('style', '')
                }
            }
            else{                
                $(this).prop('style', '')
            }
        }); 
        $('#lend_books').click(function(){ 
            var myJSON = []; 
        	$(".lend:checked" ).each(function () {
                myJSON.push({'id': $(this).closest('tr').find("td").eq(0).prop('textContent'), 'status':'borrowed'});
                $(this).trigger( "click" );
            });
            $.ajax({
                type: 'PUT',
                contentType: 'application/json',
                data: JSON.stringify(myJSON),
                dataType: 'json',
                url: 'update',
                success: function(result){   
                    console.log("Book(s) borrowed\n",result);
                    edit_dates(result); 
                
            }});
        });
        $('#delete_books').click(function(){ 
            var myJSON = [];  
            console.log($('#pagination li[class="page-item active"] a').text());
        	$(".delete:checked" ).each(function () {            
                myJSON.push({'id': $(this).closest('tr').find("td").eq(0).prop('textContent'), 'status':'archived'});
                $(this).trigger( "click" );
            });  
            $.ajax({
                type: 'DELETE',
                contentType: 'application/json',
                data: JSON.stringify({'data' : myJSON, 'paginator':{'page':$('#pagination li[class="page-item active"] a').text()}, 'search_string':$('#search_string').prop('value')}),
                dataType: 'json',
                url: 'update',
                success: function(result){ 
                    console.log("Book(s) deleted\n",result);   
                    pages  = result['paginator']['pages'];
                    console.log(pages);
                    display_results(result['data']);  
                    /*
                    $.each(result ,function(i, value){
                        $("#library_books td:first-child:contains('"+ value['id'] +"')").closest('tr').remove();
                    });*/
            }});            
        });
        $('#return_books').click(function(){ 
            var myJSON = [];         
        	$(".return:checked" ).each(function () {
                myJSON.push({'id': $(this).closest('tr').find("td").eq(0).prop('textContent'), 'status':'present'});
                $(this).trigger( "click" );
            }); 
            $.ajax({
                type: 'PUT',
                contentType: 'application/json',
                data: JSON.stringify(myJSON),
                dataType: 'json',
                url: 'update',
                success: function(result){
                    console.log("Book(s) returned\n",result);                
                    edit_dates(result);                 
            }});
        });
        $('#choose_file').change(function(e){
            var fileInput = document.getElementById('choose_file');
            $.each( fileInput.files, function(i, file) {
                if ( /\.(txt|csv)$/i.test(file.name)){ /* only .txt and .csv files allowed */
                    $('#fileList').prepend( $("<li>").append( file.name ));
                    add_file_books(file);                      
                };
            });
        });
        $(document).on('dblclick', '#library_books tbody tr', function(){        
            var $this = $(this);
            var row = $this.closest("tr");
            edit_row(row)
        });
        $(document).on('change', '.lend', function(){
        
            console.log($(this));
            if($(this).prop('checked')){
                $(this).closest('tr').prop('style', 'background: MediumSeaGreen');
            }
            else{
                $(this).closest('tr').prop('style', '');
            };
        });
        $(document).on('change','.delete', function(){
            if($(this).prop('checked')){
                $(this).closest('tr').prop('style', 'background: Tomato');
            }
            else{
                $(this).closest('tr').prop('style', '');
            };
        });
        $(document).on('change','.return', function(){
            if($(this).prop('checked')){
                $(this).closest('tr').prop('style', 'background: DodgerBlue');
            }
            else{
                $(this).closest('tr').prop('style', '');
            };        
        });
        
        $(document).on('click','#save', function(){
            var row = $(this).closest('tr');
            var myJSON = [{'id': row.children('td:eq(0)').prop('textContent'), 
                          'title': row.children('td:eq(2)').prop('textContent'), 
                          'author': row.children('td:eq(3)').prop('textContent'),
                          'publish_date': row.children('td:eq(4)').prop('textContent'),
                          'location_tag': row.children('td:eq(8)').prop('textContent'),
                          'isbn': row.children('td:eq(1)').prop('textContent'), 
                          'description':row.next('tr').find('textarea').prop('value')}];
            $.ajax({
                type: 'PUT',
                contentType: 'application/json',
                data: JSON.stringify(myJSON),
                dataType: 'json',
                url: 'edit',
                success: function(result){  
                    row.children('td:eq(0)').prop('textContent', result[0]['id']);
                    row.children('td:eq(1)').prop('textContent', result[0]['isbn']);
                    row.children('td:eq(2)').prop('textContent', result[0]['title']);
                    row.children('td:eq(3)').prop('textContent', result[0]['author']);
                    row.children('td:eq(4)').prop('textContent', result[0]['publish_date']);
                    row.children('td:eq(8)').prop('textContent', result[0]['location_tag']);
                    row.children('td:eq(2)').attr('data-balloon', result[0]['description']);
                    row.prop('style', '');
                    row.next('tr').remove();
                    $('#save').remove();
                    
            }});
        }); 
        $('#dragndrop_area').on({
            'dragover dragenter': function(e) {
                e.preventDefault();
                e.stopPropagation();
            },
            'drop': function(e) {
                var dataTransfer =  e.originalEvent.dataTransfer;
                if( dataTransfer && dataTransfer.files.length) {
                    e.preventDefault();
                    e.stopPropagation();                    
                    $.each( dataTransfer.files, function(i, file) { 
                    	if ( /\.(txt|csv)$/i.test(file.name) ) {
                    		files.push(file);
                    		$('#fileList').prepend( $("<li>").append( file.name ));
                    	}
                    });
                }
            }
        });
    });
    function edit_row(row){ 
        if(row.has("#save").length){
            row.children('td:eq(1)').prop('contenteditable', false);
            row.children('td:eq(2)').prop('contenteditable', false);
            row.children('td:eq(3)').prop('contenteditable', false);
            row.children('td:eq(4)').prop('contenteditable', false);
            row.children('td:eq(8)').prop('contenteditable', false);
            row.prop('style', '');
            
            row.find('#save').remove(); 
            row.next('tr').remove();
        }
        else{
            row.children('td:eq(1)').prop('contenteditable', true);
            row.children('td:eq(2)').prop('contenteditable', true);
            row.children('td:eq(3)').prop('contenteditable', true);
            row.children('td:eq(4)').prop('contenteditable', true);
            row.children('td:eq(8)').prop('contenteditable', true);
                        
            row.prop('style', 'background: yellow'); 
            
            row.append($('<button id="save" type="button" class="save">Save changes</button >'));
            row.after('<tr id="description"><td colspan="8"><textarea placeholder="Book description here!" rows="3" cols="100">'+row.children('td:eq(2)').attr('data-balloon')+'</textarea></td></tr>');
            
        }
    };
    function edit_dates(json){
        $.each(json, function(i,value){
            var row = $("#library_books tbody td:first-child:contains('"+ value['id'] +"')").closest('tr');
            if(value['lend_date']){
                row.find('td:eq(6)').prop('textContent',value['lend_date'].toString());
            }
            else{            
                row.find('td:eq(6)').prop('textContent',"");
            }
            if(value['lend_date']){
                row.find('td:eq(7)').prop('textContent',value['return_date'].toString());
            }
            else{            
                row.find('td:eq(7)').prop('textContent',"");
            }
        });
    };
    function display_results(json_obj){
        $('#library_books tbody').remove();
        $.each(json_obj, function(i, obj) {
            $("#library_books")
                .append($('<tbody>')
                    .append($('<tr>')
                        .append($('<td>')
                            .text(obj['id'])
                        )
                        .append($('<td>')
                            .text(obj['isbn'])
                        )
                        .append($('<td data-balloon-length="large" data-balloon="' + obj['description'] +'" data-balloon-pos="up">')
                            .text(obj['title'])
                        )
                        .append($('<td>')
                            .text(obj['author'])
                        )
                        .append($('<td>')
                            .text(obj['publish_date'])
                        )
                        .append($('<td>')
                            .text(obj['status'])
                        )
                        .append($('<td>')
                            .text(obj['lend_date'])
                        )
                        .append($('<td>')
                            .text(obj['return_date'])
                        )
                        .append($('<td>')
                            .text(obj['location_tag'])
                        )
                        .append($('<td>')
                            .append($('<div class="btn-group-toggle" data-toggle="buttons">')
                                .append($('<label class="btn btn-success">')
                                    .append($('<input id="lend_'+obj['id']+ '" class="lend" type="checkbox"  autocomplete="off">')
                                    )
                                )
                                .append($('<label class="btn btn-info">')
                                    .append($('<input id="return_'+obj['id']+ '" class="return" type="checkbox"  autocomplete="off">')
                                    )
                                )
                                .append($('<label class="btn btn-danger">')
                                    .append($('<input id="delete_'+obj['id']+ '" class="delete" type="checkbox"  autocomplete="off">')
                                    )
                                )
                                
                            )
                        )
                    )
                );
        });
    };
    function add_file_books(file) {
        var reader = new FileReader();
        reader.onloadend = function( event ) {
            var lines = this.result.split('\n');
            for(var line = 0; line < lines.length; line++){
          values = lines[line].split(/[,;]/)
          if(values.length >= 4){				
            var book = {author:values[3].trim(), title:values[0].trim(),isbn:values[2].trim(),publish_date:values[1].trim()}
            books.push(book);
              };
            };
        };              
        reader.readAsText(file);
    };
    
    </script>
{% endblock %}

   